body {
  border: 10px solid #333;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
    
#header{
    background-color: darkgrey;
    padding;20px;
    }
    
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}